body{
    margin: 0px;
    height: 100%;
    font-family: 'Work Sans', sans-serif;

    /* Temple */
    background-color: #fdfdf8;
    background-image: url("tile.png");
    background-size: 2%;
    background-repeat: repeat;

}

header{
    background-color: #304b6d;
    height: 80px;
    padding: 20px 30px;

    color: #c4941d;
    font-size: 2em;
    text-transform: uppercase;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}


/* Source: https://www.w3schools.com/howto/howto_css_menu_icon.asp */
#menu{
    cursor: pointer;
}

#menu div{
    width: 30px;
    height: 2px;
    background-color: #c4941d;
    margin: 8px 0;
}

#menu:hover div{
    background-color: white;
}

#main{
    background-color: #fdfdf8;
    position: absolute;
    margin-bottom: 100px;
    top: 120px;
    left: 10%;
    right: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    padding: 20px 50px 50px;
    line-height: 2;
}

a{
    color: #c4941d;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    color: #304b6d;
}

#kitchen{
    width: 100%;
    max-width: 600px;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

#kitchen img{
    width: 100%;
}

.caption{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    border: 1px dashed black;
    padding: 5px;
}

#kitchen-description{
    word-wrap: break-word;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.signature{
    font-family: 'Great Vibes', sans-serif;
    font-size: 2.5em;
    text-align: right;
}
